<a href="assets/dog.jpg" class="fancybox" title="Dan is great">Dan is great</a>
<a href="assets/dog.jpg" class="fancybox" title="Dan is really great">Dan is really great</a>
<br>

 <div id="wrapper">
     <div id="video-thumbnail">
         <img height='480px' src='assets/dog.jpg'>
     </div>
 </div>
