<a href="assets/dog.jpg" class="fancybox" title="Dan is great">Dan is great</a>
<a href="assets/dog.jpg" class="fancybox" title="Dan is really great">Dan is really great</a>
<br>


  <a href="assets/dog.jpg"><img class="fancybox " title="Are we going to have titles for these?" src="assets/dog.jpg" height="400" width="400"></a>


<br>

 <div id="wrapper">
     <div id="video-thumbnail">
         <img height='480px' src='assets/dog.jpg'>
     </div>
 </div>
