<div class="container">
	<h1> <%= @message %> </h1>
	<% @media.each do |media| %>
	  <% if media.type == "image" %>
	    <a href="<%=media.images.standard_resolution.url%>"><img class="fancybox" src="<%=media.images.standard_resolution.url%>" height="260" width="260"></a>
	  <% elsif media.type == "video" %>
			<img class="video-thumbnail" width="260" height="260" src="assets/dog.jpg" id="<%=media.videos.standard_resolution.url%>">
	  <% end %>
	<% end %>
</div>