<% if !session[:tutorial_active].nil? %>
<script src="/javascripts/tutorial.js"></script>
	<div class='tutorial_overlay'>
		<div id='tut_slide1' class='paragraph'>
				Welcome to Happening Now, where you can easily create videos and slideshows of your favorite events in real time!

				To begin, create a user login by clicking  'Sign Up' in the upper right corner.
			<span class='next next_slide'>Next!</span>
		</div>
		<div id='tut_slide2' class='paragraph' style='display: none;'>
			Find user uploaded clips or pics by clicking on 'Recent Events Near You' or by using the search bar at the top of the page.
			<span class='next' id='tut_search'>Next!</span>
		</div>
	</div>
<% end %>
<div id="headerwrap">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<h1>Join The Fun<br />Happening Now</h1><hr />
				<% if current_user %>
					<button type="submit" class="btn btn-warning btn-lg"><%= link_to "Events Near You", home_events_path %></button>
				<% else %>
					<button type="submit" class="btn btn-warning btn-lg"><%= link_to "Sign Up",new_user_registration_path %></button>
				<%end%>
				<button type="submit" class="btn btn-warning btn-lg"><a id="UI_howItWorks" href="#">How it works</a></button>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row mt centered">
		<div class="col-lg-6 col-lg-offset-3">
			<h1>Events. Occasions. Happenings. You.</h1>
			<h3>Search for an event and build your own adventure. The possibilities are endless.</h3>
		</div>
	</div>

	<div class="row mt centered">
		<div class="col-lg-4">
			<h4 style="font-variant: small-caps;">Find</h4>
			<p>Search for an event using a location, keywords, or hash tags. </p>
		</div>

		<div class="col-lg-4">
			<h4 style="font-variant: small-caps;">Edit</h4>
			<p>Create your own event timeline in the Editor and stitch together your video or slideshow.</p>
		</div>

		<div class="col-lg-4">
			<h4 style="font-variant: small-caps;">View</h4>
			<p>Enjoy watching your project online or download it to your computer. </p>
		</div>
	</div>
</div>
<%= render 'layouts/footer' %>

