<h1>Free Candy</h1>


<%= link_to "Popular media", popular_path%>
<%= form_for :search, url: search_path,  method: :post do |f| %>
  <%= f.search_field :search, name: "search_data", placeholder: "Search by tag or keyword" %>
  <%= f.submit "Search" %>
<%end%>
