<div id="headerwrap">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<h1>Find out what's Happening Now.</h1><hr/>
				<button type="submit" class="btn btn-warning btn-lg"><%= link_to "Get Started",new_user_registration_path %></button> 
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row mt centered">
		<div class="col-lg-6 col-lg-offset-3">
			<h1>Events. Concerts. You.</h1>
			<h3>Search for an event and build your own adventure. The possibilities are endless.</h3>
		</div>
	</div>

	<div class="row mt centered">
		<div class="col-lg-4">
			<h4>Select</h4>
			<p>Search for an event or see what's popular. Select the media you want to create your adventure.</p>
		</div>

		<div class="col-lg-4">
			<h4>Edit</h4>
			<p>Edit your selection by clicking 'Media Editor' at the top of the page.</p>
		</div>

		<div class="col-lg-4">
			<h4>Render</h4>
			<p>To render your video, move your pointer to the top left of the editor. Click Render.</p>
		</div>
	</div>
</div>

