<h1>Search results for '#<%=@search_content%>'</h1>

<% @media.each do |media| %>
  <% if media.type == "image" %>
    <img src="<%=media.images.standard_resolution.url%>">
  <% elsif media.type == "video" %>
    <%= "media.standard_resolution.url" %>
  <% end %>
<% end %>


