  <div class="video-js-box">
    <!-- Using the Video for Everybody Embed Code http://camendesign.com/code/video_for_everybody -->
    <video id="example_video_1" class="video-js" width="100%" height="95%" controls="controls" preload="auto" autoplay poster="images/image.jpg">
      <source src="assets/concert.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
         <!-- Image Fallback. Typically the same as the poster image. -->
        <img src="images/image.jpg" width="640" height="264" alt="Poster Image"
      title="No video playback capabilities." />
      </object>
    </video>
  </div>
