<script>
  $(function() {
      var movieProject = new MovieStudio();
  });
</script>
<div id="moviePallet">
  <div class="palletOverflow">
    <div class="palletThumb">
      Lots Of Test Code
    </div>
    <div class="palletThumb">
      Lots Of Test Code
    </div>
    <div class="palletThumb">
      Lots Of Test Code
    </div>
    <div class="palletThumb">
      Lots Of Test Code
    </div>
    <div class="palletThumb">
      Lots Of Test Code
    </div>
    <div class="palletThumb">
      Lots Of Test Code
    </div>
    <div class="palletThumb">
      Lots Of Test Code
    </div>
    <div class="palletThumb">
      Lots Of Test Code
    </div>
    <div class="palletThumb">
      Lots Of Test Code
    </div>
    <div class="palletThumb">
      Lots Of Test Code
    </div>
    <div class="palletThumb">
      Lots Of Test Code
    </div>
    <div class="palletThumb">
      Lots Of Test Code
    </div>
    <div class="palletThumb">
      Lots Of Test Code
    </div>
    <div class="palletThumb">
      Lots Of Test Code
    </div>
    <div class="palletThumb">
      Lots Of Test Code
    </div>
  </div>
</div>
<div id="editorTimeline">
  <div id="editorTimeSlider"></div>
  <div id="editorTimeBar"></div>
  <div id="timelineGraph">
    <div id="editorTimeCurrent">
      <span>00:00:000ms</span>
    </div>
  </div>
  <div id="THeader2">Track 2</div>
  <div id="Track2"></div>
  <div id="THeader1">Track 1</div>
  <div id="Track1"></div>
  <div id="THeader0">Track 0</div>
  <div id="Track0"></div>
</div>
