<script>
  $(function() {
      var movieProject = new MovieStudio();
  });
</script>
<div id="moviePallet">
  <div class="palletOverflow">
    <div class="palletThumb" data-title="Ass Blaster0" data-url="http://distilleryimage7.s3.amazonaws.com/ccccaaeeb11811e3ab9d123c21c1539b_101.mp4">
      Lots Of Test Code
    </div>
    <div class="palletThumb" data-title="Ass Blaster1" data-url="http://distilleryimage4.s3.amazonaws.com/b399a0a8b11411e3a2cf1215b493f9ac_101.mp4">
      Lots Of Test Code
    </div>
    <div class="palletThumb" data-title="Ass Blaster2" data-url="http://distilleryimage5.s3.amazonaws.com/52f0c9eeb10e11e3a27f0e1c4bab99dd_101.mp4">
      Lots Of Test Code
    </div>
    <div class="palletThumb" data-title="Ass Blaster3" data-url="http://distilleryimage6.s3.amazonaws.com/97714a5cb12d11e39b761240926e6356_101.mp4">
      Lots Of Test Code
    </div>
    <div class="palletThumb" data-title="Ass Blaster4" data-url="http://distilleryimage10.s3.amazonaws.com/2604628cb12311e3a0c81236548e9e2a_101.mp4">
      Lots Of Test Code
    </div>
    <div class="palletThumb" data-title="Ass Blaster5" data-url="http://distilleryimage5.s3.amazonaws.com/129710feb13311e3aaf30e0373b3d96d_101.mp4">
      Lots Of Test Code
    </div>
    <div class="palletThumb" data-title="Ass Blaster6">
      Lots Of Test Code
    </div>
    <div class="palletThumb" data-title="Ass Blaster7">
      Lots Of Test Code
    </div>
    <div class="palletThumb" data-title="Ass Blaster8">
      Lots Of Test Code
    </div>
    <div class="palletThumb" data-title="Ass Blaster9">
      Lots Of Test Code
    </div>
    <div class="palletThumb" data-title="Ass Blaster10">
      Lots Of Test Code
    </div>
    <div class="palletThumb" data-title="Ass Blaster11">
      Lots Of Test Code
    </div>
    <div class="palletThumb" data-title="Ass Blaster12">
      Lots Of Test Code
    </div>
    <div class="palletThumb" data-title="Ass Blaster13">
      Lots Of Test Code
    </div>
    <div class="palletThumb" data-title="Ass Blaster14">
      Lots Of Test Code
    </div>
  </div>
</div>
<div id="editorTimeline">
  <div id="editorTimeSlider"></div>
  <div id="editorTimeBar"></div>
  <div id="timelineGraph">
    <div id="editorTimeCurrent">
      <span>00:00:000ms</span>
    </div>
    <div id="editorTimeRuler">
      <div id="editorTimeRulerHeader">
        <span class="timelineTickTall"></span>
        <span class="timelineTickShort"></span>
        <span class="timelineTickShort"></span>
        <span class="timelineTickShort"></span>
        <span class="timelineTickShort"></span>
        <span class="timelineTickShort"></span>
        <span class="timelineTickShort"></span>
        <span class="timelineTickShort"></span>
        <span class="timelineTickShort"></span>
        <span class="timelineTickShort"></span>
      </div>
    </div>
  </div>
  <div id="THeader2">Track 2</div>
  <div id="Track2"></div>
  <div id="THeader1">Track 1</div>
  <div id="Track1"></div>
  <div id="THeader0">Track 0</div>
  <div id="Track0"></div>
</div>
