<script type="text/javascript">
  $(function() {
      var slideshowProject = new PhotoStudio($('#TrackWrapper'));
  });
</script>
<% if !current_user.nil? %>
  <div id="renderStatus">
    <% jobs = RenderQueue.where(user_id: current_user.id) %>
    <% unless jobs.empty? %>
      <% jobs.all.each do |job|%>
        <p>Rendering Movie <span><%= job.title %></span></p>
        <div class="movingBallLine">
          <div class="movingBallLineG"></div>
          <div id="movingBallG_1" class="movingBallG"></div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
<div id="moviePallet">
  <div class="palletOverflow">
    <% if @session_table.nil? || @session_table.empty? %>
      <div class="ohnoes">
        There are no Photos in your pallet!
      </div>
    <% else %>
      <% @session_table.each do |media|%>
        <div class="palletThumb" data-url="<%= media.url %>" data-thumbnail="<%= media.thumbnail %>" style="background: url(<%= media.thumbnail %>)">
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div id="editorTimeline">
  <div id="editorTools">
    <div>&#60; Play &#62;</div>
    <div><span>Title: </span><input type='input' id='UI_movieTitle' placeholder='My First Movie'/></div>
    <% if !current_user.nil? %>
      <div><span id="UI_render">Render Project</span></div>
    <% end %>
  </div>
  <div id="editorTimeSlider"></div>
  <div id="editorTimeBar"></div>
  <div id="THeaderWrapper">
    <div id="editorTimeCurrent">
      <span>00:00:000ms</span>
    </div>
    <div id="trackPhotosHeader">SlideShow</div>
  </div>
  <div id="TrackWrapper">
    <div id="timelineGraph">
      <div id="editorTimeRuler">
        <div id="editorTimeRulerTrack">
        </div>
      </div>
    </div>
    <div id="trackPhotos"></div>
  </div>
</div>
