<script type="text/javascript">
  $(function() {
      var slideshowProject = new PhotoStudio();
  });
</script>
<div id="moviePallet">
  <div class="palletOverflow">
    <% if @session_table.empty? %>
      <div class="ohnoes">
        There are no URL's in your pallet!
      </div>
    <% else %>
      <% @session_table.each do |url|%>
        <div class="palletThumb" data-url="<%= url %>" data-thumbnail="/assets/dog.jpg" style="background: url(/assets/dog.jpg)">
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div id="editorTools">
    <span>Project Tools</span>
    <ul>
      <li>
        <span>Render Project</span>
      </li>
      <li>
        <span>More stuff Woo</span>
      </li>
    </ul>
  </div>
<div id="editorTimeline">
  <div id="editorTimeSlider"></div>
  <div id="editorTimeBar"></div>
  <div id="timelineGraph">
    <div id="editorTimeCurrent">
      <span>00:00:000ms</span>
    </div>
    <div id="editorTimeRuler">
      <div id="editorTimeRulerHeader">
        <span class="timelineTickTall"></span>
        <span class="timelineTickShort"></span>
        <span class="timelineTickShort"></span>
        <span class="timelineTickShort"></span>
        <span class="timelineTickShort"></span>
        <span class="timelineTickShort"></span>
        <span class="timelineTickShort"></span>
        <span class="timelineTickShort"></span>
        <span class="timelineTickShort"></span>
        <span class="timelineTickShort"></span>
      </div>
    </div>
  </div>
  <div id="THeaderWrapper">
    <div id="trackPhotosHeader">SlideShow</div>
  </div>
  <div id="TrackWrapper">
    <div id="trackPhotos"></div>
  </div>
</div>
