<script type="text/javascript">
  $(function() {
      var movieProject = new MovieStudio();
  });
</script>

<div class="progressbar" data-perc="100">
  <div class="bar"><span></span></div>
  <div class="label"><span></span></div>
</div>
<div class="progressbar" data-perc="75">
  <div class="bar"><span></span></div>
  <div class="label"><span></span></div>
</div>
<div class="progressbar" data-perc="50">
  <div class="bar"><span></span></div>
  <div class="label"><span></span></div>
</div>
<div class="progressbar" data-perc="25">
  <div class="bar"><span></span></div>
  <div class="label"><span></span></div>
</div>

<div id="moviePallet">
  <div class="palletOverflow">
    <% if @session_table.empty? %>
      <div class="ohnoes">
        There are no URL's in your pallet!
      </div>
    <% else %>
      <% @session_table.each do |media|%>
        <div class="palletThumb" data-url="<%= media.url %>" data-thumbnail="<%= media.thumbnail %>" style="background: url(<%= media.thumbnail %>)">
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div id="editorTools">
    <span>Project Tools</span>
    <ul>
      <li>
        <span id="UI_render">Render Project</span>
      </li>
      <li>
        <span id="UI_test">More stuff Woo</span>
      </li>
    </ul>
  </div>
<div id="editorTimeline">
  <div id="editorTimeSlider"></div>
  <div id="editorTimeBar"></div>
  <div id="timelineGraph">
    <div id="editorTimeCurrent">
      <span>00:00:000ms</span>
    </div>
    <div id="editorTimeRuler">
      <div id="editorTimeRulerHeader">
        <span class="timelineTickTall"></span>
        <span class="timelineTickShort"></span>
        <span class="timelineTickShort"></span>
        <span class="timelineTickShort"></span>
        <span class="timelineTickShort"></span>
        <span class="timelineTickShort"></span>
        <span class="timelineTickShort"></span>
        <span class="timelineTickShort"></span>
        <span class="timelineTickShort"></span>
        <span class="timelineTickShort"></span>
      </div>
    </div>
  </div>
  <div id="THeaderWrapper">
    <div id="THeader2">Track 2</div>
    <div id="THeader1">Track 1</div>
    <div id="THeader0">Track 0</div>
  </div>
  <div id="TrackWrapper">
    <div id="trackVideo2"></div>
    <div id="trackVideo1"></div>
    <div id="trackVideo0"></div>
  </div>
</div>
