<div class="display">
  <div class="search_header" >
  
    <% if session[:next_max_id].length > 0 %>
      <%= link_to "More Results", more_results_path, {class: "more_results"}  %>
    <% end %>

    <% if @similar_media %>
      <h2> Similar Media</h2>
      <div class="similar-media">
        <%= render 'media/similar' %>
      </div>
    <%end%>
  </div>

  <div class="display_results">
    <%= render 'media/display_results' %>
  </div>
</div>