<div class="display">
  <div class="search_header" >

    <%binding.pry%>

    <% if session[:next_urls].length > 0 %>
    <a href="#" class="more_results">More Results</a>
    <% end %>

    <% if @similar_media %>
      <h2> Similar Media</h2>
      <div class="similar-media">
        <%= render 'media/similar' %>
      </div>
    <%end%>
  </div>

  <div class="display_results">
    <%= render 'media/display_results' %>
  </div>
</div>
