<div class="container">
<div class="display">
  <div class="search_header" >

    <% if @similar_media %>
      <h2> Similar Media</h2>
      <div class="similar-media">
        <%= render 'media/similar' %>
      </div>
    <%end%>
  </div>

  <div class="display_results">
    <%= render 'media/display_results' %>
  </div>
</div>
</div>