<div class="container">
  <h1><%=@username%>'s other media</h1>

    <%= link_to "More Results", {class: "more_user_results", :id => @id } %>

  <div class="display_results">
    <%= render 'media/display_results' %>
  </div>
</div>
