<div class="container">
  <h1> <%= @message %> </h1>

<<<<<<< HEAD:app/views/home/more_results.html.erb
  <%= render "display" %>
</div>
=======
  <%= render "media/display" %>
</div>

>>>>>>> f896ac488a0b33dff1d578194d47bc36e06307b4:app/views/media/more_results.html.erb
