<div class="container">
  <div class="row mt centered">
    <h1> <%= @message %> </h1>
    <h5>Media Update:  <p id="timer">30</p></h5>
    <div class="display_results row mt centered">
      <%= render "media/display_results" %>
    </div>
  </div>
</div>


<script>
  resetTimer();

  function resetTimer() {
     var interval = setInterval(function() {
      document.getElementById('timer').innerHTML = document.getElementById('timer').innerHTML - 1;

        if(document.getElementById('timer').innerHTML < 1) {
            clearInterval(interval);
        }
      }, 1000);
  }

  setInterval(function(){
    route = 'update_popular';

    $.ajax({
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          url: route,
          type: "get",

          success: function(serverResponse){
            $(".display_results").html(serverResponse);
            bindEvents();

        document.getElementById('timer').innerHTML = 30;
          resetTimer();
        }
    });
  }, 30000);
</script>