<div class="container">
  <h1> <%= @message %> </h1>
  <% if @media %>
    <% @media.each_with_index do |media, index| %>
      <img id="<%=media.file_path%>" src="/assets/play_icon.png" class="video_thumbnail search_result" width="240" height="240" border="0" style="background:URL(<%= media.thumbnail_path %>) center center black; background-size: 100%" />
      <a class="download_link" href="<%=media.file_path%>" download>Download file</a>
    <% end %>
  <% end %>
</div>
