<% if !session[:tutorial_active].nil? %>
<script src="/javascripts/tutorial.js"></script>
  <div class='tutorial_overlay'>
    <div id='tut_slide1' class='paragraph'>
      Browse the results or load the next batch by clicking "More Results."  Select your favorites by clicking the box in the upper right corner of each thumbnail. You can view your favorites by clicking your name and selecting "Favorites" from the drop down menu.
      <a class='next' href='/editor/video'>Next!</a>
    </div>
  </div>
<% end %>
<div class="container">
  <h1> <%= @message %> </h1>

  <%= render "media/display" %>
</div>

