/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require_self
 *= require fancybox
 *= require video-js
 *= require_tree .
 *= require jquery.ui.all
 */

 @font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('../assets/glyphicons-halflings-regular.woff') format('woff'),
       url('../assets/glyphicons-halflings-regular.ttf') format('truetype'),
       url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.selection_checkbox {
	background-size: 80px 60px;
	display: block;
	width: 25px;
	height: 25px;
	float: right;
	position: relative;
	top: 30px;
	right: 3px;
	background-color: red;
}

.thumbnail_object {
	display: inline-block;
    float: left;
    width: 240px;
    height: 240px;    
}

.show-thumbnail {
	display:block;
}

.hide-thumbnail {
	display:block;
	visibility: hidden;
}

.show_checked_thumbnail {
	display:block;
}

.pic-username {
	z-index: 5;
	display: inline;
	position:relative;
	top: 30px;
	background-color: black;
	width: 100%;
}
