.movingBallLine{
position:relative;
width:256px;
height:20px;
}

.movingBallLineG{
position:absolute;
left:0px;
top:8px;
height:4px;
width:256px;
background-color:#B8B8B8;
}

.movingBallG{
background-color:#40C8FA;
position:absolute;
top:0;
left:0;
width:20px;
height:20px;
-webkit-box-shadow: 0px 0px 12px 0px rgba(55,170,212,1),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.45),inset 1px 0px 0px 0px rgba(255, 255, 255, 0.25),inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25);
  box-shadow: 0px 0px 12px 0px rgba(55,170,212,1),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.45),inset 1px 0px 0px 0px rgba(255, 255, 255, 0.25),inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25);
-moz-border-radius:10px;
-moz-animation-name:bounce_movingBallG;
-moz-animation-duration:2.2s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:10px;
-webkit-animation-name:bounce_movingBallG;
-webkit-animation-duration:2.2s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:10px;
-ms-animation-name:bounce_movingBallG;
-ms-animation-duration:2.2s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:10px;
-o-animation-name:bounce_movingBallG;
-o-animation-duration:2.2s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:10px;
animation-name:bounce_movingBallG;
animation-duration:2.2s;
animation-iteration-count:infinite;
animation-direction:linear;
}

@-moz-keyframes bounce_movingBallG{
0%{
left:0px;
}

50%{
left:236px;
}

100%{
left:0px;
}

}

@-webkit-keyframes bounce_movingBallG{
0%{
left:0px;
}

50%{
left:236px;
}

100%{
left:0px;
}

}

@-ms-keyframes bounce_movingBallG{
0%{
left:0px;
}

50%{
left:236px;
}

100%{
left:0px;
}

}

@-o-keyframes bounce_movingBallG{
0%{
left:0px;
}

50%{
left:236px;
}

100%{
left:0px;
}

}

@keyframes bounce_movingBallG{
0%{
left:0px;
}

50%{
left:236px;
}

100%{
left:0px;
}

}
